function Main.main 2
    push constant 7
    call Fibonacci.new 1
    pop local 0
    push local 0
    call Fibonacci.calculate 1
    pop local 1
    push local 1
    call Output.printInt 1
    pop temp 0
    push constant 0
    return